$primary-title-color: #556978;
$blue-color: #30c1e6;
$dark-blue-color: #0c3952;

.wrapper {
  .none {
    opacity: 0;
  }

  .main-content {
    position: relative;
    margin-bottom: 123px;
    z-index: 222;
  }
// HEADER
  header {
    width: 720px;
    position: fixed;
    height: 45px;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.14);
    z-index: 9999;

    .logo {
      display: inline-block;
      margin-right: 258px;

      img {
        width: 107.5px;
        height: 21.5px;
        padding: 12px 0 0 29px;
      }
    }

    .navigation {
      display: inline-block;
      height: 21.5px;
      vertical-align: middle;
      font-family: 'Cabin';
      text-transform: uppercase;

      li {
        display: inline-block;
        font-size: 7.5px;
        margin-right: 20.5px;

      li:last-child {
        margin-right: 18.5px;
        }

        a {
          color: $blue-color;
        }

      }
    }
  }

// TOP BUNNER
  .top-bunner {

    .banner {
      height: 348px;
      background-color: $dark-blue-color;
      background-image: url(files/home-b-g.png);
      background-repeat: no-repeat;
      background-size: 100% 400px;
      background-attachment: fixed;
      padding-top: 45px;
      color: #fff;

      .title {
        font-family: 'PTmono';
        width: 100%;
        font-weight: bold;
        font-size: 32px;
        margin: 133px 0 19px 0;
      }

      .sub-title {
        width: 100%;
        display: inline-block;
        text-align: center;
        font-size: 12px;
        font-family: 'Lato';
      }

      .learn-more {
        margin-top: 63.5px;
        font-size: 9px;
        width: 123px;
        height: 25px;
        letter-spacing: 2.6px;
      }
    }

    .get-more-customer {
      background-color: rgb(248, 248, 248);
      height: 261.5px;
      padding: 0 61.5px;

      .title {
        font-weight: normal;
        margin: 0 auto;
        padding-top: 27px;
        width: 482px; 
      }

      .info {
        display: inline-block;
        width: 180px;
        vertical-align: top;
        margin: 30px 28px 0 0;

        .icon {
          width: 37px;
          height: 37px;
          float: left;
          margin-right: 9px;
        }

        .info-content {
          width: 132.5px;
          float: right;

          .title {
            font-family: 'Roboto';
            font-size: 10px;
            font-weight: 600;
            color: #408abe;
            letter-spacing: 1px;
          }

          .content {
            font-family: 'Roboto';
            color: #4a4a4a;
            font-size: 7px;
            margin-top: 5px;
          }
        }
      }

      .info:last-child {
        margin-right: 0;
      }

      .none {
        display: none;
      }
    }
  }

// LOGOS
  .client-logos {
    background-color: #f6f6f6;
    height: 112.5px;

    img {
      width: 474.5px;
      height: 31.5px;
      padding: 40.5px 0;
      margin: 0 auto;
      display: block;
    }

    .non {
      display: block;
    }
  }

// HOW WE WORK
  .how-we-work {
    background-color: #fff;

    .title {
      padding-top: 37px;
      margin: 0 auto 37px 0;
    }

    .container {
      background-color: #f7f7f7;
      height: 688px;

      .content-container {
        .content {
          display: inline-block;
          width: 360px;
          vertical-align: top;

          .content-title {
            color: #408abe;
            font-family: 'PTmono';
            font-size: 15px;
            font-weight: normal;
            margin: 39px 0 0 58px;
          }

          .context {
            font-family: 'Roboto';
            font-size: 8px;
            color: #4a4a4a;
            width: 184px;
            margin: 16.5px 0 0 78.5px;
          }
        }

        .photo-slide {
          display: inline-block;
          width: 360px;
          height: 235.5px;
        }

        .first-slide {
          margin-top: -10px;
        }

        .last-slide {
          margin-bottom: -10px;
        }
      }

      .container-white {
        background-color: #fff;
      }
    }
  }

// WHAT YOU WILL GET
  .what-you-will-get {
    background: -moz-linear-gradient(top, #30c1e8 0%, #2ea0dd 67%, #2d8dd6 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #30c1e8), color-stop(67%, #2ea0dd), color-stop(100%, #2d8dd6));
    background: -webkit-linear-gradient(top, #30c1e8 0%, #2ea0dd 67%, #2d8dd6 100%);
    background: -o-linear-gradient(top, #30c1e8 0%, #2ea0dd 67%, #2d8dd6 100%);
    background: -ms-linear-gradient(top, #30c1e8 0%, #2ea0dd 67%, #2d8dd6 100%);
    background: linear-gradient(to bottom, #30c1e8 0%, #2ea0dd 67%, #2d8dd6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d8dd6', endColorstr='#30c0e8', GradientType=0 ); 
    height: 250px;

    .title {
      font-family: 'PTmono';
      font-weight: bold;
      color: #fdfdfd;
      padding-top: 45px;
    }

    .content {
      padding: 0 59.5px;

      .info {
        display: inline-block;
        width: 190px;
        margin-right: 12.5px; 
        height: 74.5px;
        background-color: #ffffff;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.14);

        .icon {
          float: left;
          width: 25px;
          height: 22px;
          margin: 25px 7px 0 31px;
        }

        .text {
          font-family: 'Roboto';
          font-size: 9px;
          font-weight: 300;
          color: #6c6c6c;
          margin-top: 26px;
        }
      }

      .info:last-child {
        margin-right: 0;
      }
    }

    .start {
      margin-top: 21.5px;
      width: 123px;
      height: 22.5px;
      font-family: 'Roboto';
      font-size: 10px;
      letter-spacing: .6px;
    }
  }

// WHO WORKS WITH US
  .who-works-with-us {
    background-color: #fff;
    height: 330px;

    .title {
      padding-top: 25px;
    }

    .sub-title {
      width: 327px;
      text-align: center;
      margin: 39.5px auto 0 auto;
      color: #4a4a4a;
      font-family: Helvetica;
      font-size: 16px;
      letter-spacing: .8px;
      font-weight: normal;
    }

    .partners {
      width: 108.5px;
      margin: 29px auto 0 auto;
      font-family: 'Roboto';
      font-size: 10px;
      color: #408abe;
      text-align: center;

      p {
        margin: 0;
      }
    }

    .photos {
      width: 237px;
      margin: 23px auto 0 auto;

      img {
        width: 45px;
        height: 45px;
        border-radius: 25px;
        margin-right: 19px;
      }

      img:last-child {
        margin-right: 0;
      }
    }
  }

// BLUEPRINT
  .blueprint {
    background: #f7f7f7;
    height: 294.5px;
    border-top: solid 1px rgba(156,175,195,0.1);

    .title {
      padding-top: 36px;
    }

    .sub-title {
      width: 100%;
      text-align: center;
    }

    .content-container {
      margin: 28.5px auto 0 auto;
      width: 500px;

      .icon {
        float: left;
        width: 177px;
        height: 177.5px;
        margin: -20px 16px 0 -23px;
      }

      .content {
        width: 484.5px;
        height: 138px;
        font-family: 'Roboto';
        color: #4a4a4a;
        text-align: left;
        padding: 12px 16.5px 0 16.5px;
        vertical-align: top;
        background-color: #ffffff;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.14);

        .top-text {
          font-size: 13px;
          letter-spacing: 0.5px;
          text-align: left;
        }

        .context {
          font-size: 8px;
          letter-spacing: 0.3px;
          font-weight: 500;
        }
      }
    }
  }

// FREE BLUEPRINT 
  .free-blueprint {
    height: 104.5px;
    background: rgba(45,141,214,1);
    background: -moz-linear-gradient(top, #30c1e8 0%, #2ea0dd 67%, #2d8dd6 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #30c1e8), color-stop(67%, #2ea0dd), color-stop(100%, #2d8dd6));
    background: -webkit-linear-gradient(top, #30c1e8 0%, #2ea0dd 67%, #2d8dd6 100%);
    background: -o-linear-gradient(top, #30c1e8 0%, #2ea0dd 67%, #2d8dd6 100%);
    background: -ms-linear-gradient(top, #30c1e8 0%, #2ea0dd 67%, #2d8dd6 100%);
    background: linear-gradient(to bottom, #30c1e8 0%, #2ea0dd 67%, #2d8dd6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d8dd6', endColorstr='#30c0e8', GradientType=0 );
    color: #fff;

    .title {
      font-family: 'Roboto';
      font-size: 13px;
      font-weight: 500;
      padding-top: 26px;
      letter-spacing: 0.5px;
      margin-top: 0;
    }

    .get-free {
      width: 140px;
      height: 22px;
      font-size: 10px;
      letter-spacing: .6px;
    }
  }

// FOOTER
  footer {
    z-index: 1;
    width: 720px;
    height: 123.5px;
    position: fixed;
    bottom: 0;
    background: rgba(7,39,61,1);
    background: -moz-linear-gradient(top, rgba(12,57,83,1) 0%, rgba(7,39,61,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(7,39,61,1)), color-stop(100%, rgba(12,57,83,1)));
    background: -webkit-linear-gradient(top, rgba(12,57,83,1) 0%, rgba(7,39,61,1) 100%);
    background: -o-linear-gradient(top, rgba(12,57,83,1) 0%, rgba(7,39,61,1) 100%);
    background: -ms-linear-gradient(top, rgba(12,57,83,1) 0%, rgba(7,39,61,1) 100%);
    background: linear-gradient(to bottom, rgba(12,57,83,1) 0%, rgba(7,39,61,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c3953', endColorstr='#07273d#0c3953', GradientType=0 );

    .info {
      display: inline-block;
      width: 105px;
      margin-left: 94.5px;
      padding-top: 28.5px;

      .logo {
        width: 95px;
        height: 19px;
        margin-bottom: 7.5px;
      }

      .text {
        font-size: 7px;
        font-family: 'Roboto';
        color: #9cafc3;
      }

      .text:last-child {
        margin-top: 5.5px;
      }
    }

    .social {
      display: inline-block;
      font-family: 'Roboto';
      font-size: 7px;
      letter-spacing: 1.1px;
      text-transform: uppercase;
      color: #9cafc3;
      text-align: left;
      margin-left: 121px;
      vertical-align: top;
      padding-top: 33.1px;
    }

    .search {
      display: inline-block;
      padding-top: 40.5px;
      vertical-align: top;
      margin-left: 56px;

      .search-input {
        width: 166.5px;
        height: 27.3px;
        background-color: #ffffff;
        box-shadow: 0 0 16px 2.5px rgba(0, 0, 0, 0.11);
        border: none;
        padding-left: 10px;
      }

      .search-input::placeholder {
        width: 98px;
        height: 12px;
        font-family: Roboto;
        font-size: 10px;
        font-weight: normal;
        color: #9b9b9b;
      }

      .subscribe {
        width: 77.5px;
        height: 27.3px;
        background-color: #408abe;
        font-size: 10px;
        letter-spacing: 0.2px;
        line-height: 27.3px;
      }
    }
  }
}