
.wrapper
  //- HEADER
  header
    .logo
      img(src="files/logo@3x.png", alt="")
    ul.navigation
      li
        a(href="") ABOUT
      li
        a(href="") SOLUTIONS
      li
        a(href="") PRODUCTS
      li
        a(href="") BLOG
      li
        a(href="") RESOURSES
  .main-content
    //- TOP-BUNNER
    .top-bunner
      .banner
        h1.title IT Sales Development
        span.sub-title Helping Managed IT Providers find prospects, grow pipeline, and close deals
        .button-container
          button.btn.btn-blue.learn-more Learn More
      .get-more-customer
        h3.title.PTmonoto-title Get More Customer With Outband Sales Development
        .info-container
          .info
            img.icon#more-icon1.animated.none(src="files/icon-1.svg", alt="")
            .info-content
              span.title Why you?
              p.content You offer a B2B service with a monthly recurring revenue model and you have to scale your organization to meet rapid growth expectations 
          .info
            img.icon#more-icon2.animated.none(src="files/icon-2.svg", alt="")
            .info-content
              span.title WHY NOW?
              p.content You are either anticipating, or already experiencing scalability problems, and do not have time to experiment with sales team structures, create a sales process, and test all the different tools. You need a proven method right now! 
          .info
            img.icon#more-icon3.animated.none(src="files/icon-3_2.svg", alt="")
            .info-content
              span.title WHY INFUSION-4?
              p.content We have helped over 40 companies in the past 12 months. As a result we have developed a proven customer centric sales process for IT organizations. It has lead to a playbook that contains over 55 plays your team can implement NOW. This is supported by a proven process for hiring and an online video training portal to help reinforce best.
    //- CLIENT-LOGO
    .client-logos
      img#client-logos.animated.none(src="files/client-logos@3x.png", alt="")
    //- HOW-WE-WORK
    .how-we-work
      h3.title.PTmonoto-title How We Work ?
      .container
        .content-container
          .content
            h4.content-title 1. DESIGN
            .context
              p We use an IT centric analysis and custom design your sales model:
              p Create your ideal customer profile
              p Understand the customer journey
              p Ensure the right sales metrics are in place
          img#how-we-work1.photo-slide.first-slide.animated.none(src="files/photo-1@3x.png", alt="")
        .content-container.container-white
          img#how-we-work2.photo-slide.animated.none(src="files/photo-1@3x.png", alt="")
          .content
            h4.content-title 2.IMPLEMENT
            .context 
              p Implement a scalable IT sales structure based on the following key elements:
              p Process – Customer Centric
              p Tools – Create a force multiplier
              p Content – Acts as an outbound sales call
              p Skills – Self Learning, Exceed in Online Selling
              p Organization – Scalable and Agile Structure
              p Measure – Data Driven Decisions
        .content-container
          .content
            h4.content-title 3.SCALE
            .context
              p Best practices and process driven throughout the entire team:
              p - Find all your ideal target companies and all the right target prospects including email and phone data.
              p - Work through all of your target prospects in a systematic, account-based approach.
              p - Scale using software, data, and a highly trained sales organization.
          img#how-we-work3.photo-slide.last-slide.animated.none(src="files/photo-1@3x.png", alt="")
    //- WHAT-YOU-WILL-GET
    .what-you-will-get
      h3.title.PTmonoto-title What You Will get
      #will-get.content.animated.none
        .info
          img.icon(src="files/icon-1_2.svg", alt="")
          p.text Playbook with +55 sales development plays
        .info
          img.icon(src="files/icon-2_2.svg", alt="")
          p.text Online portal with Just-In-Time training videos
        .info
          img.icon(src="files/icon-3.svg", alt="")
          p.text Email, phone, social outbound sequences 
      .button-container
        button.btn.btn-bord.start Start
    //- WHO-WORKS-WITH-US
    .who-works-with-us
      h3.title.PTmonoto-title Who Works With Us
      h4.sub-title “Mark has great intuition nd innovative ideas when it comes to lead generation, marketing, sales, and business in general”
      .partners
        p Chris Caudette 
        p VP of Sales, Modus Link
      .photos
        img(src="files/avatar@3x.png", alt="")
        img(src="files/avatar_2@3x.png", alt="")
        img(src="files/avatar_3@3x.png", alt="")
        img(src="files/avatar_4@3x.png", alt="")
    //- BLUEPRINT
    .blueprint
      h3.title.PTmonoto-title Blueprint for Sales Lead Follow-up
      p.sub-title Lead follow-up is one of the most critical functions for the most successful IT organizations. The information contained in this Blueprint for Sales Lead Follow-Up provides the tips and tools you need to organize and executive an effective follow-up program.
      .content-container
        img.icon(src="files/icon.svg", alt="")
        .content
          p.top-text Inside you will find:
          p.context 
            |Lead Follow-Up Cadence - the most effective  follow up uses a pattern of phone, email, and social touches over a period of time to increase the chances of connecting with the lead.
          p.context
            |Email, voicemail, messaging, and live call scripts – easy to modify scripts that encourages the lead to respond. 
          p.context
            |Best practices and tips - We have compiled eight best practices that you can
    //- FREE-BLUEPRINT
    .free-blueprint
      h4.title  Boost the effectiveness of your lead follow-up efforts
      .button-container
        button.btn.btn-bord.get-free Get free blueprint
  //- FOOTER
  footer
    .footer-container
      div.info
        img.logo(src="files/logo-02@3x.png", alt="")
        p.text 456 Kamren Manors, Dominicport
        p.text 835-626-2057
      .social
        span FOLLOW US
        .icon
          a.insta(href="http://instagram.com" target="blank")
            img(src="files/icon-social-1.svg", alt="")
          a.youtube(href="https://www.youtube.com/channel/UCH5sIflN9jNxHq3SLap3ZHQ" target="blank")
            img(src="files/icon-social-2.svg", alt="")
          a.facebook(href="https://www.facebook.com/IT.Lead.Generation?hc_ref=NEWSFEED&fref=nf" target="blank")
            img(src="files/icon-social-3.svg", alt="")
      .search
        input.search-input(type="text" placeholder="Subscribe for updates")
        button.btn.subscribe SUBSCRIBE