.wrapper
  header
    .logo
    ul.navigation
      li
        a(href="") HOME
      li
        a(href="") HOME
      li
        a(href="") HOME
      li
        a(href="") HOME
      li
        a(href="") HOME
  .top-bunner
    .banner
      h1.title IT Sales Development
      span.sub-title Lorem ipsum dolor sit amet, consectetur
      .button-container
        button.btn.btn-blue Learn More
    .get-more-customer
      h3.title Get More Customer With Outband Sales Development
      .info
        .icon
        .info-content
          span.title Why you&
          p.conte Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi quo nobis, pariatur enim. Obcaecati sequi voluptates amet voluptate labore earum iste, accusamus iure. Placeat tempore optio omnis beatae, veritatis quibusdam.
      .info
        .icon
        .info-content
          span.title Why you&
          p.conte Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi quo nobis, pariatur enim. Obcaecati sequi voluptates amet voluptate labore earum iste, accusamus iure. Placeat tempore optio omnis beatae, veritatis quibusdam.
      .info
        .icon
        .info-content
          span.title Why you&
          p.conte Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi quo nobis, pariatur enim. Obcaecati sequi voluptates amet voluptate labore earum iste, accusamus iure. Placeat tempore optio omnis beatae, veritatis quibusdam.
  .logos
    img(src="", alt="")
    img(src="", alt="")
    img(src="", alt="")
    img(src="", alt="")
    img(src="", alt="")
    img(src="", alt="")
  .how-we-work
    h3.title How We Work ?
    .container
      .content-container
        .content
          h4.content-title 1.DESIGN
          p.context Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde molestias inventore, voluptatem consequatur harum dolorem et doloremque optio. Obcaecati consectetur distinctio voluptates, saepe dolor aliquam molestias labore eius, placeat nihil.
        .photo-slide
      .content-container
        .content
          h4.content-title 1.DESIGN
          p.context Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde molestias inventore, voluptatem consequatur harum dolorem et doloremque optio. Obcaecati consectetur distinctio voluptates, saepe dolor aliquam molestias labore eius, placeat nihil.
        .photo-slide
      .content-container
        .content
          h4.content-title 1.DESIGN
          p.context Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde molestias inventore, voluptatem consequatur harum dolorem et doloremque optio. Obcaecati consectetur distinctio voluptates, saepe dolor aliquam molestias labore eius, placeat nihil.
        .photo-slide
  .what-you-will-get
    h3.title What You Will get
    .content
      .info
        .icon
        p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit!
      .info
        .icon
        p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit!
      .info
        .icon
        p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit!
    .button-container
      button.btn.btn-bord Start
  .who-works-with-us
    h3.title Who works with us
    h4.sub-title Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    .photo
    .photo
    .photo
    .photo
  .blueprint
    h3.title Blueprint for Sales Lead Follow-up
    p.sub-title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel rem, sequi molestiae esse necessitatibus.
  .free-blueprint
    h4.title Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    .button-container
      button.btn.btn-bord Get free blueprint
  footer
    div
      span Text
      span Text
    .social
    .search
      input(type="text")
      button.btn.btn-blue Search